.Tabs {
    margin: 0;
    flex-grow: 0;
  }
  
  .Tabs .TabList {
    margin: 0;
    display: flex;
  }
  
  .Tabs .Underline {
    height: 2px;
    background-color: #51b7e6;
    transition: transform 0.45s;
  }
  